$body-color: #67748e;
$main-color: #4fcb8d;
$heading-color: #292d32;
$white-color: #ffffff;
$black-color: #000000;
$font-size: 15px;
$transition: all ease .5s;
$border-radius: 10px;
$box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);

/* Max width 767px */
@media only screen and (max-width: 767px) {
    
    /* Main Title Style */
    .main-title {
        margin-bottom: 20px;
        &.border-style {
            margin-bottom: 15px;
            padding-bottom: 15px;
        }
    }

    /* Main Content Wrap Style*/
    .main-content-wrap {
		padding-left: 0;
        padding-top: 108px;
	}

    /* Features Style */
    .single-features {
        padding: 15px;
        border-radius: 10px;
    }

    /* Card Box Style */
    .card-box-style {
        padding: 15px;
        border-radius: 10px;
        &.rounded {
            padding: 15px;
            border-radius: 10px !important;
        }
    }
    

    /* Overview Box Style */
    .overview-content {
        display: block !important;
        .total-overview {
            margin-top: 10px;
            li {
                margin-right: 8px;
            }
        }
    }
    .single-audience {
        padding: 15px;
        border-radius: 10px;
        .icon {
            border-radius: 10px !important;
        }
    }

    /* Traffic Style */
    .traffic-content {
        .traffic-chart {
            margin-bottom: 20px;
        }
        .col-md-3 {
            flex: 0 0 auto;
            width: 50%;
        }
    }

    /* Device Style */
    .device-content {
        .device-chart {
            margin-bottom: 0;
        }
        .col-md-4 {
            flex: 0 0 auto;
            width: 50%;
        }
        &.website {
            padding-bottom: 0;
        }
    }

    /* Website Performance Style */
    .website-performance-content {
        margin-bottom: 15px;
    }
    .single-website-performance {
        display: block !important;
        padding: 15px;
        border-radius: 10px;
        .website-chart {
            max-width: 100%;
        }
    }

    /* Single Up Style */
    .single-up-and-down {
        border-radius: 10px;
    }

    /* Total Visits Style */
    .total-visits-content {
        overflow: auto;
        table {
            thead {
                tr {
                    th {
                        white-space: nowrap;
                    }
                }
            }
            tbody {
                tr {
                    td {
                        white-space: nowrap;
                        padding: 15px;
                    }
                }
            }
        }
    }

    /* Total Browse Style */
    .total-browse-content {
        overflow: auto;
        table {
            thead {
                tr {
                    th {
                        white-space: nowrap;
                        padding-right: 140px !important;
                    }
                }
            }
            tbody {
                tr {
                    td {
                        white-space: nowrap;
                        padding: 15px;
                    }
                }
            }
        }
    }

    /* HR Management */

    /* Main Content Wrapper */
    .main-content-wrap {
        &.style-two {
            padding-left: 0;
            overflow: hidden;
        }
    }

    /* Welcome Back */
    .welcome-back-content {
        padding: 20px;
        margin-top: 0;
        margin-bottom: 24px;
        border-radius: $border-radius;
        .welcome-img {
            display: none;
        }
        h2 {
            margin-bottom: 15px;
            font-size: 20px;
        }
    }

    /* Works Stats Back */
    .works-stats-content {
        .works-chart {
            margin-bottom: 30px;
        }
        .col-sm-4 {
            flex: 0 0 auto;
            width: 50%;
        }
    }

    /* Total Back */
    .single-total {
        padding: 15px;
        border-radius: 10px;
        h2 {
            font-size: 20px;
        }
    }

    /* Media Files Style */
    .media-files-content {
        overflow: auto;
        table {
            tbody {
                tr {
                    td {
                        white-space: nowrap;
                        padding: 15px !important;
                    }
                }
            }
        }
    }

    /* Group Style */

    .single-group {
        padding: 15px;
        border-radius: 10px;
        h3 {
            font-size: 14px;
        }
        .group-img {
            li {
                margin-right: -25px;
            }
        }
        .add-member-wrap {
            li {
                .add-member-btn {
                    width: 80px;
                    font-size: 9px;
                    text-align: center;
                }
            }
        }
    }

    /* Tutor LMS Style */

    /* Employees Style */
    .employees-content {
        display: block !important;
        .total-overview {
            margin-top: 10px;
            li {
                margin-right: 6px;
            }
        }
    }
    .total-employees-content {
        .total-employees-chart {
            margin-top: 0;
        }
        .col-sm-4 {
            flex: 0 0 auto;
            width: 33.33333333%;
        }
    }
    .employees-availability-content-wrap {
        .main-title {
            margin-bottom: 30px;
        }
        &.availability {
            padding-bottom: 0;
        }
    }
    .single-employees-availability {
        padding: 15px;
        display: block !important;
        .employees-chart {
            max-width: 100%;
        }
    }

    /* Total Hiring Style */
    .total-hiring-sources-content{
        padding: 15px;
        .col-sm-6 {
            flex: 0 0 auto;
            width: 50%;
        }
    }

    /* Upcoming Style */
    .upcoming-interview-content {
        .interviews-wrap {
            margin-bottom: 30px;
            padding-bottom: 30px;
        }
    }
    .upcoming-interview-content {
        .interviews-wrap {
            .single-interview {
                padding: 15px;
                display: block !important;
                .call-btn {
                    display: block;
                    margin-top: 10px;
                    text-align: center;
                }
            }
        }
    }

    /* Performers Style */
    .top-performers-content {
        ul {
            margin-bottom: 30px;
        }
        p {
            margin-bottom: 30px;
        }
    }

    /* Page Title */
    .page-title-area {
        .col-sm-6 {
            flex: 0 0 auto;
            width: 50%;
        }
        .page-title {
            h3 {
                font-size: 20px;
            }
        }
    }

    /* Calendar Title */
    .calendar-wrap {
        &.style-two {
            .fc-today-button {
                display: none;
            }
            .fc .fc-col-header-cell-cushion {
                margin-bottom: 0;
            }
            .fc-header-toolbar {
                padding-bottom: 20px;
                margin-bottom: 20px;
            }
        }
    }
    .performance-date {
        padding: 20px;
    }
    .performance-date-list {
        padding-left: 20px;
        &::before {
            height: 100%;
            top: 0;
        }
        li {
            padding: 15px;
            &::after {
                left: -32px;
            }
            &::before {
                left: -27px;
            }
        }
    }
    
    /* Chat Style */
    .chat-content-area {
        .sidebar-left {
            float: unset;
            .sidebar {
                width: auto;
                padding: 20px;
            }
            .top-chat-menu {
                li {
                    a {
                        font-size: 14px !important;
                    }
                }
            }
        }
        .content-right {
            width: unset;
            float: unset;
            .chat-list-wrapper {
                .chat-list {
                    .chat-list-header {
                        .header-left {
                            h6 {
                                font-size: 14px;
                            }
                        }
                    }
                    .chat-container {
                        .chat-content {
                            .chat {
                                .chat-body {
                                    .chat-message {
                                        p {
                                            font-size: 13px;
                                        }
                                    }
                                }
                                &.chat-left {
                                    .chat-body {
                                        .chat-message {
                                            p {
                                                font-size: 13px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .chat-list-footer form {
                        .others-option-list {
                            li {
                                margin-right: -2px; 
                                img {
                                    width: 20px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    /* My Devices Style */
    .my-devices-area {
        .sidebar-left {
            float: unset;
            .sidebar {
                width: 100%;
                padding: 20px;
                .drive-list-wrap {
                    li {
                        a {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
        .content-right {
            width: unset;
            
            .my-file-area {
                padding: 20px;
                padding-bottom: 0;
                .form-file-upload {
                    display: block !important;
                    .create-upload li .upload-btn {
                        padding: 10px 15px;
                        border-radius: 10px;
                        display: inline-block;
                        margin-top: 10px;
                    }
                }
                .form-file-upload {
                    padding-bottom: 20px;
                    margin-bottom: 20px;
                }
                .single-folde {
                    padding: 20px;
                }
            }
        }
    }

    /* Contact Area Style */
    .contact-info-wrap {
        padding: 20px;
        margin-bottom: 30px;
    }
    .contact-form {
        padding: 20px;
        .form-group {
            margin-bottom: 20px;
        }
    }
    
    /* Email Area Style */
    .email-content-area {
        .sidebar-left {
            float: unset;
            .sidebar {
                .sidebar-content {
                    width: auto;
                }
            }
            
        }
        .content-right {
            float: unset;
            width: unset;
            .email-list-wrapper {
                .email-list {
                    .email-list-header {
                        display: block !important;
                        padding: 20px 0;
                        .header-right {
                            li {
                                .form-select {
                                    width: 100%;
                                }
                            }
                        }
                    }
                    .list-wrapper {
                        .email-list-item {
                            padding: 16.1px 0;
                            .email-list-detail {
                                .form {
                                    width: auto;
                                }
                                .msg {
                                    margin-left: 0;
                                }
                                div {
                                    padding-left: 0;
                                }
                            }
                        }
                    }
                }
                
            }
            .form-control {
                width: 100% !important;
                margin-bottom: 20px;
            }
        }
    }

    /* Account Area Style */
    .account-area {
        height: 100vh;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .account-content {
        padding: 30px;
    }

    /* Profile */
    .profile-info {
        display: block !important;
        text-align: center;
        img {
            margin-bottom: 10px;
        }
        .ms-4 {
            margin-left: 0 !important;
        }
        .follow-email {
            margin-bottom: 20px;
        }
    }
    .edit-massage {
        .btn.btn-primary {
            margin-right: 0;
        }
    }

    .profile-details {
        .profile-menu {
            margin-bottom: 20px;
        }
    }

    /* Error Style */
    .error-content {
        h1 {
            font-size: 100px;
            margin-top: 0;
        }
    }

    /* BOx Icon Style */
    .icon-box {
        flex: 0 0 100%;
        max-width: 100%;
    }

    /* Remix Icon Style */
    .icon-used-example {
        display: none;
    }
    .remixicon-area .icon-list .icon-type-item .icon-items .icon-item-group[data-v-3fe659be] {
        width: 100%;
    }
    .others-title {
        h3 {
            font-size: 18px;
        }
    }

    /* Avatar Style */
    .avatar-list {
        display: flex !important;
        img {
            max-width: 100% !important;
        }
    }

    /* Thumbnails Style */
    .thumbnails-2 {
        display: block !important;
        text-align: center;
        img {
            margin-bottom: 20px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    /* Media Object Style */
    .media-object-content {
        display: block !important;
        img {
            margin-bottom: 20px;
            width: 100%;
        }
        .ms-3 {
            margin-left: 0!important;
        }
    }

    /* Contact List Style */
    .contact-list-area {
        .table-responsive {
            overflow: auto;
            table {
                tbody {
                    tr {
                        td {
                            white-space: nowrap;
                            padding: 15px !important;
                        }
                    }
                }
            }
        }
        .table tbody {
            tr td ul li {
                width: 20px;
            }
        }
    }
    .btn {
        padding: 8px 20px;
    }

    /* About Style */
    .about-content {
        h2 {
            font-size: 20px;
        }
    }

    /* Accordion Style */
    .accordion-item {
        .accordion-body {
            padding: 20px 0;
        }
    }
    .tabs-wrap {
        .nav-tabs {
            .nav-link {
                margin: 0 5px !important;
                &.active {
                    &::before {
                        display: none;
                    }
                }
            }
        }
    }

    /* Terms Style */
    .main-content-text {
        h3 {
            font-size: 18px;
        }
    }

    /* Pricing Style */
    .single-pricing {
        h1 {
            font-size: 35px;
        }
        ul {
            padding-left: 0;
            padding-right: 0;
        }
    }

    /* Blog Style */
    .single-blog {
        padding: 20px;
        .blog-content {
            h3 {
                font-size: 16px;
                line-height: 25px;
            }
        }
    }
    
    /* Blog Details Style */
    .blog-details-content {
        h2 {
            font-size: 20px;
        }
        .tags {
            li {
                margin-bottom: 10px;
                &:last-child {
                    margin-bottom: 0;
                }
                a {
                    padding: 5px;
                }
            }
        }
        blockquote {
            padding: 20px;
            padding-left: 20px;
            p {
                font-size: 15px;
            }
        }
        .social-link {
            li {
                margin-right: 5px;
            }
        }
        h3 {
            font-size: 16px;
        }
        .post-author {
            display: block !important;
        }
        .comments {
            ul {
                li {
                    &.reply {
                        margin-left: 0;
                    }
                }
            }
        }
    }

    /* Timeline Style */
    .timeline {
		.timeline-wrap {
            &::before {
                display: none;
            }
			.timeline-item {
				flex-flow: column wrap;
                height: auto;
				&:nth-child(even) {
					flex-direction: column;
				}
				&:nth-child(even) > .time:last-child {
					text-align: start;
				}
				&:nth-child(odd) h3::before {
					content: "";
					position: absolute;
					left: -20px;
					border: 10px solid rgba(0, 0, 0, 0);
					border-right-color: black;
				}
				&:nth-child(odd) {
					h3 {
						&::after {
							border: none;
						}
					}
				}
				.icon {
					order: 1;
					flex: 1 1 100%;
					padding-top: 50px;
					width: 100px;
                    div {
                        display: none;
                    }
				}
				.time {
					order: 2;
					flex: 1 1 50px;
					width: calc(100% - 100px);
				}
				.text {
					order: 3;
					flex: 1 1 calc(100% - 50px);
					width: calc(100% - -1px);
				}
			}
		}
	}
    
    /* Compose Style */
    .compose-mail-form {
        .form-group {
            display: block !important;
            label {
                margin-bottom: 10px;
            }
        }
        .list-inline {
            padding-left: 0;
            .send-btn {
                .btn-danger {
                    margin-bottom: 10px;
                }
                .btn {
                    width: 100%;
                }
            }
        }
        .upload-btn {
            .btn {
                margin-bottom: 5px;
            }
        }
    }

    /* Go Top Style */
    .go-top {
        width: 30px;
        height: 30px;
        &.active {
            top: 96%;
        }
    }

    /* Footer Style */
    .footer-content {
        padding: 15px;
        border-radius: 10px;
        p {
            font-size: 13px;
        }
    }

    .upcoming-group-lessons-content {
        .main-title  {
            .view-btn {
                width: 80px;
                text-align: center;
            }
        }
    }

    .chat-content-area {
        .sidebar-left {
            .sidebar {
                .top-chat-menu {
                    li {
                        width: 31.33%;
                        flex: 0 0 auto;
                        a {
                            font-weight: 500;
                            padding: 5px;
                            font-size: 12px;
                        }
                    }
                }
                .sidebar-content .chat-menu .list-group-user li {
                    border-bottom: 1px solid #ddd;
                    padding-bottom: 10px;
                    margin-bottom: 10px;
                    border-radius: 0;
                    img {
                        margin-bottom: 10px;
                    }
                    .d-flex {
                        display: block !important;
                    }
                }
            }
        }
    }

    .chat-content-area .content-right .chat-list-wrapper .chat-list .chat-list-header .header-left h6 {
        font-size: 12px;
    }
    .chat-content-area .content-right .chat-list-wrapper .chat-list .chat-list-header .header-left span {
        font-size: 10px;
    }
    .chat-content-area .content-right .chat-list-wrapper .chat-list .chat-list-header .header-right ul li {
        margin-left: 1px;
        width: 19px;
    }
    .chat-content-area .content-right .chat-list-wrapper .chat-list .chat-list-footer form .send-btn {
        span {
            display: none;
        }
        padding: 0 12px;
    }
    .chat-content-area .content-right .chat-list-wrapper .chat-list .chat-list-footer form {
        padding-right: 50px;
    }
    

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {

    .single-features {
        padding: 25px;
    }

    .single-website-performance {
        padding: 25px;
    }

    .card-box-style {
        padding: 25px;
    }

    .single-up-and-down {
        padding: 15px;
        .total {
            h4 {
                font-size: 18px;
            }
        }
    }
    .device-content {
        &.card-box-style {
            padding-bottom: 5px;
        }
    }
    .traffic-content {
        &.card-box-style {
            padding-bottom: 5px;
        }
        .single-traffic {
            .title {
                font-size: 12px;
            }
        }
    }

    .works-stats-content {
        .col-sm-4 {
            flex: 0 0 auto;
            width: 33.33%;
        }
    }

    .single-group {
        .group-img {
            li {
                margin-right: -30px;
            }
        }
    }

    /* Upcoming */
    .upcoming-interview-content {
        .interviews-wrap {
            text-align: center;
            .single-interview {
                padding: 15px;
                flex: 0 0 auto;
                width: 47%;
                display: inline-block !important;
                margin: 0 5px;
                margin-bottom: 20px;
                text-align: left;
            }
        }
    }

    .email-content-area .content-right .email-list-wrapper .email-list .list-wrapper .email-list-item .email-list-actions .favorite {
        display: block;
    }

    .device-content {
        .col-md-4 {
            flex: 0 0 auto;
            width: 33.33%;
        }
    }

    .single-up-and-down {
        margin-bottom: 0;
    }

}

/* Min width 375px to Max width 767px */
@media only screen and (min-width: 375px) and (max-width: 575px) { 

    

    .total-hiring-sources-content {
        .col-sm-6 {
            flex: 0 0 auto;
            width: 50%;
        }
    }

    

   

    

    /* Page Title */
    .page-title-area {
        .col-sm-6 {
            flex: 0 0 auto;
            width: 50%;
        }
        .page-title-list {
            text-align: right;
        }
        .page-title {
            h3 {
                margin-bottom: 0;
            }
        }
    }

}

/* Min width 458px to Max width 576px */
@media only screen and (min-width: 458px) and (max-width: 576px) {

    /* Website Performance */
    .single-website-performance {
        .website-chart {
            max-width: 100%;
        }
    }

    /* Overview */
    .overview-content {
        display: flex !important;
    }

    
    

}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    /* main Title */
	.main-title {
		margin-bottom: 30px;
	}

	/* main Content */
	.main-content-wrap {
        padding-top: 127px;
		&.style-two {
            padding-left: 0 !important;
		    overflow: hidden;
        }
	}

    /* Traffic Content */
    .traffic-content {
        .traffic-chart {
            margin-bottom: 30px;
        }
    }

    /* Device Content */
    .device-content {
        .device-chart {
            margin-bottom: 30px;
        }
    }

    /* Performance Content */
    .single-website-performance {
        display: block !important;
        .website-chart {
            max-width: 100%;
            margin-top: 10px;
        }
    }

    /* Features Content */
    .single-features {
        padding: 20px;
    }


    /* HR Management */

    /* Welcome Back */
    .welcome-back-content {
        padding: 30px;
        margin-bottom: 30px;
        border-radius: $border-radius;
        .welcome-img {
            right: 50px;
            bottom: 0;
            max-width: 134px;
        }
        h2 {
            margin-bottom: 15px;
            font-size: 20px;
        }
    }

    /* Works Stats Back */
    .works-stats-content {
        .works-chart {
            margin-bottom: 30px;
        }
    }

    /* Total Back */
    .single-total {
        padding: 15px;
        h2 {
            font-size: 20px;
        }
    }

    /* Media Files Style */
    .media-files-content {
        overflow: auto;
        table {
            tbody {
                tr {
                    td {
                        white-space: nowrap;
                        padding: 15px !important;
                    }
                }
            }
        }
    }

    /* Group Style */

    .card-box-style {
        &.rounded {
            padding: 20px;
        }
    }

    .single-group {
        padding: 15px;
        .group-img {
            li {
                margin-right: -25px;
            }
        }
    }

    /* Tutor LMS Style */

    /* Performers Style */
    .top-performers-content {
        ul {
            margin-bottom: 30px;
        }
        p {
            margin-bottom: 30px;
        }
    }

    /* Upcoming Style */
    .upcoming-interview-content {
        .interviews-wrap {
            margin-bottom: 30px;
            padding-bottom: 30px;
        }
    }

    /* Chat Style */
    .chat-content-area {
        .sidebar-left {
            float: unset;
            .sidebar {
                width: auto;
                padding: 20px;
            }
            .top-chat-menu {
                li {
                    a {
                        font-size: 14px !important;
                    }
                }
            }
        }
        .content-right {
            width: unset;
            float: unset;
            .chat-list-wrapper {
                .chat-list {
                    .chat-list-header {
                        .header-left {
                            h6 {
                                font-size: 14px;
                            }
                        }
                    }
                    .chat-container {
                        .chat-content {
                            .chat {
                                .chat-body {
                                    .chat-message {
                                        p {
                                            font-size: 13px;
                                        }
                                    }
                                }
                                &.chat-left {
                                    .chat-body {
                                        .chat-message {
                                            p {
                                                font-size: 13px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    /* My Devices Style */
    .my-devices-area {
        .sidebar-left {
            float: unset;
            .sidebar {
                width: 100%;
                padding: 20px;
                .drive-list-wrap {
                    li {
                        a {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
        .content-right {
            width: unset;
            
            .my-file-area {
                padding: 20px;
                padding-bottom: 0;
                .form-file-upload {
                    padding-bottom: 20px;
                    margin-bottom: 20px;
                }
                .single-folde {
                    padding: 20px;
                }
            }
        }
    }

    /* Contact Area Style */
    .contact-info-wrap {
        padding: 20px;
        margin-bottom: 30px;
    }
    .contact-form {
        padding: 20px;
        .form-group {
            margin-bottom: 20px;
        }
    }
    
    /* Email Area Style */
    .email-content-area {
        .sidebar-left {
            float: unset;
            .sidebar {
                .sidebar-content {
                    width: auto;
                }
            }
            
        }
        .content-right {
            float: unset;
            width: unset;
            .email-list-wrapper {
                .email-list {
                    .email-list-header {
                        display: block !important;
                        padding: 20px 0;
                        .header-right {
                            li {
                                .form-select {
                                    width: 100%;
                                }
                            }
                        }
                    }
                    .list-wrapper {
                        .email-list-item {
                            padding: 16.1px 0;
                            .email-list-detail {
                                .from {
                                    width: auto;
                                }
                                .msg {
                                    margin-left: 0;
                                }
                                div {
                                    padding-left: 0;
                                }
                            }
                        }
                    }
                }
                
            }
            .form-control {
                width: 100% !important;
                margin-bottom: 20px;
            }
        }
    }

    /* Account Area Style */
    .account-area {
        height: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .account-content {
        padding: 30px;
    }

    /* Profile */
    .profile-info {
        display: block !important;
        text-align: center;
        img {
            margin-bottom: 10px;
        }
        .ms-4 {
            margin-left: 0 !important;
        }
        .follow-email {
            margin-bottom: 20px;
        }
    }
    .edit-massage {
        text-align: center !important;
        .btn.btn-primary {
            margin-right: 0;
        }
    }
    .profile-details {
        .profile-menu {
            margin-bottom: 20px;
        }
    }
    .profile-details {
        padding: 30px;
    }

    /* BOx Icon Style */
    .icon-box {
        flex: 0 0 50%;
        max-width: 50%;
    }

    /* Remix Icon Style */
    .icon-used-example {
        display: none;
    }
    .remixicon-area .icon-list .icon-type-item .icon-items .icon-item-group[data-v-3fe659be] {
        width: 50%;
    }

    /* Avatar Style */
    .avatar-list {
        display: flex !important;
        img {
            max-width: 100% !important;
        }
    }

    /* Contact List Style */
    .contact-list-area {
        .table-responsive {
            overflow: auto;
            table {
                tbody {
                    tr {
                        td {
                            white-space: nowrap;
                            padding: 15px !important;
                            .form-check img {
                                width: 30px;
                            }
                        }
                    }
                }
            }
        }
        .table tbody {
            tr td ul li {
                width: 20px;
            }
        }
    }
    .btn {
        padding: 8px 20px;
    }

    /* About Style */
    .about-content {
        h2 {
            font-size: 20px;
        }
    }

     /* Accordion Style */
     .accordion-item {
        .accordion-body {
            padding: 20px 0;
        }
    }
    .tabs-wrap {
        .nav-tabs {
            .nav-link {
                margin: 0 5px;
                &.active {
                    &::before {
                        display: none;
                    }
                }
            }
        }
    }

    /* Pricing Style */
    .single-pricing {
        h1 {
            font-size: 35px;
        }
        ul {
            padding-left: 0;
            padding-right: 0;
        }
    }

    /* Blog Style */
    .single-blog {
        padding: 20px;
        .blog-content {
            h3 {
                font-size: 16px;
                line-height: 25px;
            }
        }
    }

     /* Blog Details Style */
     .blog-details-content {
        h2 {
            font-size: 20px;
        }
        .tags {
            li {
                margin-bottom: 10px;
                &:last-child {
                    margin-bottom: 0;
                }
                a {
                    padding: 5px;
                }
            }
        }
        blockquote {
            padding: 20px;
            padding-left: 20px;
            p {
                font-size: 15px;
            }
        }
        .social-link {
            li {
                margin-right: 5px;
            }
        }
        h3 {
            font-size: 16px;
        }
        .post-author {
            display: block !important;
        }
        .comments {
            ul {
                li {
                    &.reply {
                        margin-left: 0;
                    }
                }
            }
        }
    }

    /* Timeline Style */
    .timeline {
		.timeline-wrap {
			&::before {
				left: 50px;
				height: calc(100% / 5 * 4);
				top: 50px;
			}
			.timeline-item {
				flex-flow: column wrap;
				height: 250px;
				&:nth-child(even) {
					flex-direction: column;
				}
				&:nth-child(even) > .time:last-child {
					text-align: start;
				}
				&:nth-child(odd) h3::before {
					content: "";
					position: absolute;
					left: -20px;
					border: 10px solid rgba(0, 0, 0, 0);
					border-right-color: black;
				}
				&:nth-child(odd) {
					h3 {
						&::after {
							border: none;
						}
					}
				}
				.icon {
					order: 1;
					flex: 1 1 100%;
					padding-top: 50px;
					width: 100px;
				}
				.time {
					order: 2;
					flex: 1 1 50px;
					width: calc(100% - 100px);
				}
				.text {
					order: 3;
					flex: 1 1 calc(100% - 50px);
					width: calc(100% - 100px);
				}
			}
		}
	}

    /* availability */
    .single-employees-availability {
        padding: 20px;
        display: block !important;
        margin-bottom: 0;
        .employees-chart {
            margin-top: 10px;
        }
    }

    /* Upcoming */
    .upcoming-interview-content {
        .interviews-wrap {
            text-align: center;
            .single-interview {
                padding: 15px;
                flex: 0 0 auto;
                width: 47%;
                display: inline-block !important;
                margin: 0 5px;
                margin-bottom: 20px;
                text-align: left;
                .call-btn {
                    width: 100%;
                    display: block;
                    text-align: center;
                    margin-top: 10px;
                }
            }
        }
    }

    .chat-content-area {
        .sidebar-left {
            .sidebar {
                .top-chat-menu {
                    li {
                        width: 31.33%;
                        flex: 0 0 auto;
                        a {
                            font-weight: 500;
                            padding: 5px;
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }

    .chat-content-area .content-right .chat-list-wrapper .chat-list .chat-list-header .header-left h6 {
        font-size: 12px;
    }
    .chat-content-area .content-right .chat-list-wrapper .chat-list .chat-list-header .header-left span {
        font-size: 10px;
    }
    .chat-content-area .content-right .chat-list-wrapper .chat-list .chat-list-header .header-right ul li {
        margin-left: 1px;
        width: 19px;
    }
    .welcome-back-content {
        margin-top: 0;
    }
}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

    /* Main Title Style */
    .main-title {
        margin-bottom: 30px;
    }

    /* Main Content Style */
    .main-content-wrap {
        padding-top: 127px;
        padding-left: 0;
        overflow: hidden;
        &.style-two {
            padding-left: 0;
            overflow: hidden;
        }
    }

    /* Features Style */
    .single-features {
        padding: 14px;
    }

    /* Audience Style */
    .single-audience {
        display: block !important;
        text-align: center;
        padding: 15px;
        margin-bottom: 24px;
        .icon {
            margin: auto;
            margin-top: 10px;
        }
    }

    /* Card Box Style */
    .card-box-style {
        padding: 20px;
    }

    /* Website Style */
    .single-website-performance {
        padding: 20px;
    }

    .device-content {
        .main-title {
            margin-bottom: 0;
        }
        &.website  {
            padding-bottom: 5px;
            .main-title {
                margin-bottom: 20px;
            }
        }
        .device-chart {
            margin-bottom: 0;
        }
    }

    /* HR Management Style */

    /* Welcome Back Style */
    .welcome-back-content {
        background-size: cover;
        border-radius: 20px;
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 50px;
        .welcome-img {
            bottom: 0;
            right: 0;
        }
    }

    /* Media Files Style */
    .media-files-content {
        overflow: auto;
        table {
            tbody {
                tr {
                    td {
                        white-space: nowrap;
                        padding: 15px !important;
                    }
                }
            }
        }
    }

    /* Group Style */
    .upcoming-group-lessons-content {
        .main-title.border-style {
            .view-btn {
                width: 80px;
                text-align: center;
            }
        }
    }
    .single-group {
        padding: 15px;
        h3 {
            font-size: 14px;
        }
        .group-img {
            li {
                margin-right: -25px;
            }
        }
        .add-member-wrap {
            li {
                .add-member-btn {
                    width: 80px;
                    font-size: 9px;
                    text-align: center;
                }
            }
        }
    }

    .card-box-style {
        &.rounded-30 {
            padding: 20px;
        }
    }

    /* Upcoming Style */
    .upcoming-interview-content {
        .interviews-wrap {
            .single-interview {
                padding: 15px;
                display: block !important;
                .call-btn {
                    display: block;
                    margin-top: 10px;
                    text-align: center;
                }
            }
        }
    }

    /* performance Date Style */
    .performance-date-list {
        &::before {
            height: 100%;
            top: 0;
        }
    }

    .chat-content-area {
        .sidebar-left {
            .sidebar {
                width: 415px;
            }
        }
        .content-right {
            width: calc(100% - 435px);
            .chat-list-wrapper {
                .chat-list {
                    .chat-container {
                        .chat-content {
                            .chat {
                                &.chat-left {
                                    .chat-body {
                                        .chat-message {
                                            p {
                                                font-size: 13px;
                                            }
                                        }
                                    }
                                }
                                .chat-body .chat-message p {
                                    font-size: 13px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    /* My Devices Style */
    .my-devices-area {
        .sidebar-left {
            .sidebar {
                width: 280px;
            }
        }
        .content-right {
            width: calc(100% - 300px);
        }
    }
    
    /* Contact Area Style */
    .contact-info-wrap {
        padding: 30px;
    }
    .contact-form {
        padding: 30px;
        .form-group {
            margin-bottom: 20px;
        }
    }
    
    /* Email Area Style */
    .email-content-area {
        .sidebar-left {
            .sidebar {
                .sidebar-content {
                    width: 290px;
                }
            }
        }
        .content-right {
            width: calc(100% - 300px);
            .email-list-wrapper {
                .email-list {
                    .email-list-header {
                        .header-left {
                            margin-right: 20px;
                            .form-control {
                                width: 100%;
                            }
                        }
                    }
                }
                .email-list .list-wrapper .email-list-item {
                    padding: 16.1px 0;
                    .email-list-detail {
                        .from {
                            width: auto;
                        }
                        .msg {
                            margin-left: 0;
                        }
                    }
                    .email-list-detail {
                        div {
                            padding-left: 0;
                        }
                    }
                }
            }
        }
    }

    /* Pricing Style */
    .single-pricing {
        padding: 15px;
        h1 {
            font-size: 35px;
        }
        ul {
            padding-left: 0;
            padding-right: 0;
        }
    }
    .single-pricing-style-two {
        padding: 20px;
        h3 {
            font-size: 15px;
            &::before {
                left: -20px;
            }
        }
    }
    .single-pricing-style-three {
        padding: 20px;
    }

    /* Performers Style */
    .top-performers-content {
        ul {
            .single-performers {
                margin-right: 15px;
            }
        }
    }

    /* Employees Style */
    .employees-availability-content-wrap {
        &.availability {
            padding-bottom: 0;
            .col-lg-12 {
                flex: 0 0 auto;
                max-width: 50%;
            }
        }
    }
    .single-employees-availability {
        padding: 20px;
        .employees-chart {
            max-width: 120px;
        }
    }
    .welcome-back-content {
        margin-top: 0;
        .welcome-img {
            max-width: 190px
        }
    }

}

/* Min width 1200px to Max width 1320px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {

    /* Main Content Style */
    .main-content-wrap {
        overflow: hidden;
        &.style-two {
            padding-left: 255px;
        }
    }

    /* Features Style */
    .single-features {
        padding: 20px;
    }

    /* Audience Style */
    .single-audience {
        padding: 10px;
        display: block !important;
        text-align: center;
        padding: 15px;
        margin-bottom: 5px;
        .icon {
            margin: auto;
            margin-top: 10px;
            width: 40px;
            height: 40px;
            line-height: 40px;
            border-radius: 8px;
        }
        .audience-content {
            h5 {
                font-size: 12px;
            }
            h4 {
                font-size: 15px;
            }
        }
    }

    /* HR Management Style */

    /* Welcome Back Style */
    .welcome-back-content {
        background-size: cover;
        border-radius: 20px;
        margin-top: 0;
        margin-bottom: 30px;
        padding: 50px;
        .welcome-img {
            bottom: 0;
            right: 18px;
            max-width: 185px;
        }
    }

    /* Media Files Style */
    .media-files-content {
        overflow: auto;
        table {
            tbody {
                tr {
                    td {
                        white-space: nowrap;
                        padding: 15px !important;
                    }
                }
            }
        }
    }

    /* Group Style */
    .single-group {
        padding: 15px;
        h3 {
            font-size: 14px;
        }
        .group-img {
            li {
                margin-right: -29px;
            }
        }
        .add-member-wrap {
            li {
                .add-member-btn {
                    width: 80px;
                    font-size: 9px;
                    text-align: center;
                }
            }
        }
    }

    /* Upcoming Style */
    .upcoming-interview-content {
        .interviews-wrap {
            .single-interview {
                padding: 15px;
                display: block !important;
                text-align: center;
                .call-btn {
                    display: block;
                    margin-top: 10px;
                }
            }
        }
    }

    /* Performers Style */
    .top-performers-content {
        ul {
            .single-performers {
                margin-right: 10px;
                margin-bottom: 0;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
    .upcoming-interview-content {
        .interviews-wrap {
            padding-bottom: 30px;
            margin-bottom: 30px;
        }
    }

    /* Card Box Style */
    .card-box-style {
        &.rounded-30 {
            padding: 20px;
        }
    }

    /* performance Date Style */
    .performance-date-list {
        &::before {
            height: 100%;
            top: 0;
        }
    }

    /* Email Area Style */
    .email-content-area {
        .sidebar-left {
            .sidebar {
                .sidebar-content {
                    width: 290px;
                }
            }
        }
        .content-right {
            width: calc(100% - 300px);
            .email-list-wrapper {
                .email-list {
                    .email-list-header {
                        .header-left {
                            margin-right: 20px;
                            .form-control {
                                width: 100%;
                            }
                        }
                    }
                }
                .email-list .list-wrapper .email-list-item {
                    padding: 16.1px 0;
                    .email-list-detail {
                        .from {
                            width: auto;
                        }
                        .msg {
                            margin-left: 0;
                        }
                    }
                    
                    .email-list-detail {
                        div {
                            padding-left: 0;
                        }
                    }
                }
            }
        }
        
    }

    /* Main Content Style */
    .main-content-wrap {
        overflow: hidden;
        &.style-two {
            padding-left: 255px;
        }
    }

    /* Traffic Style */
    .traffic-content {
        .main-title {
            margin-bottom: 30px;
        }
        .traffic-chart {
            margin-bottom: 26px;
        }
    }

    /* Total Visits Style */
    .total-visits-content {
        overflow: hidden;
    }

    /* Upcoming Style */
    .upcoming-group-lessons-content {
        overflow: hidden;
        .main-title {
            &.border-style {
                .view-btn {
                    width: 90px;
                    text-align: center;
                }
            }
        }
    }

    /* Hiring Style */
    .single-hiring {
        .title {
            font-size: 11px;
        }
    }

    /* Progress Style */
    .student-progress-area {
        .total-student-wrap {
            .col-lg-12 {
                flex: 0 0 auto;
                width: 50%;
            }
        }
    }
    .single-audience {
        margin-bottom: 24px;
    }
    .upcoming-interview-content .interviews-wrap .single-interview {
        text-align: left;
        .call-btn {
            text-align: center;
        }
    }

}

/* Min width 1320px to Max width 1550px */
@media only screen and (min-width: 1320px) and (max-width: 1550px) {

    /* HR Management Style */

    /* Welcome Back Style */
    .welcome-back-content {
        background-size: cover;
        border-radius: 20px;
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 50px;
        .welcome-img {
            bottom: 0;
            right: 0;
        }
    }

    /* Media Files Style */
    .media-files-content {
        overflow: auto;
        table {
            tbody {
                tr {
                    td {
                        white-space: nowrap;
                        padding: 15px !important;
                    }
                }
            }
        }
    }

    /* Group Style */
    .single-group {
        padding: 15px;
        .group-img {
            li {
                margin-right: -35px;
            }
        }
    }

    /* Upcoming Style */
    .upcoming-interview-content {
        .interviews-wrap {
            .single-interview {
                padding: 15px;
                display: block !important;
                text-align: center;
                .call-btn {
                    display: block;
                    margin-top: 10px;
                }
            }
        }
    }
    .top-performers-content {
        ul {
            .single-performers {
                margin-right: 15px;
            }
        }
    }

    /* Email Area Style */
    .email-content-area {
        .sidebar-left {
            .sidebar {
                .sidebar-content {
                    width: 290px;
                }
            }
        }
        .content-right {
            width: calc(100% - 300px);
            .email-list-wrapper {
                .email-list {
                    .email-list-header {
                        .header-left {
                            margin-right: 20px;
                            .form-control {
                                width: 100%;
                            }
                        }
                    }
                }
                .email-list .list-wrapper .email-list-item {
                    padding: 16.1px 0;
                    .email-list-detail .msg {
                        margin-left: 0;
                    }
                    .email-list-detail {
                        div {
                            padding-left: 0;
                        }
                    }
                }
            }
        }
        
    }

    /* Account Style */
    .account-area {
        height: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .upcoming-interview-content .interviews-wrap .single-interview {
        text-align: left;
        .call-btn {
            text-align: center;
        }
    }

}

/* Min width 1400px to Max width 1700px */
@media only screen and (min-width: 1400px) and (max-width: 1700px) {

    .single-audience {
        padding: 15px 10px;
        .icon {
            width: 40px;
            height: 40px;
            line-height: 40px;
            border-radius: 8px;
        }
        .audience-content {
            h5 {
                font-size: 12px;
            }
            h4 {
                font-size: 15px;
            }
        }
    }

    .traffic-content {
        .main-title {
            margin-bottom: 0;
        }
        .traffic-chart {
            margin-bottom: 0;
        }
        .col-xxl-3 {
            flex: 0 0 50%;
            max-width: 50%;
        }
    }

    .device-website-area {
        .col-xxl-7 {
            flex: 0 0 100%;
            max-width: 100%;
        }
        .col-xxl-5 {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }

    .works-stats-content {
        .works-chart {
            margin-bottom: 15px;
        }
    }
    .activity-wrap {
        .single-activity {
            margin-top: 15px;
        }
    }

    .employees-chart-area {
        .col-xxl-6 {
            flex: 0 0 auto;
            width: 100%;
        }
    }
    .total-hiring-sources-wrap {
        .col-xxl-8 {
            flex: 0 0 auto;
            width: 100%;
        }
        .col-xxl-4 {
            flex: 0 0 auto;
            width: 100%;
        }
    }

    .works-stats-content {
        .col-lg-4 {
            &:nth-child(2) {
                padding-left: 0 !important;
                padding-right: 0 !important;
            }
        }
    }   
    .single-works {
        .title {
            font-size: 9px;
        }
        h4 {
            font-size: 9px;
        }
    }

    .single-group {
        h3 {
            font-size: 14px;
        }
        .group-img {
            li {
                margin-right: -25px;
            }
        }
        .add-member-wrap {
            li {
                .add-member-btn {
                    width: 80px;
                    font-size: 9px;
                    text-align: center;
                }
            }
        }
    }

    .student-list-wrap {
        height: 340px;
        overflow: auto;
    }
    .header-area.header-style-two {
        background-color: transparent;
    }

}

/* Min width 1119px*/
@media only screen and (max-width:1199px) {

    /* Main Content Wrapper Menu */
    .main-content-wrap {
        padding-left: 0;
    }

}