@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$body-font-family: 'Poppins', sans-serif;

$body-color: #67748e;
$main-color: #8f3418;
$orange-color: darken(#ff3e03, 5%);
$secondary-color: #ff3e03;
$heading-color: #292d32;
$white-color: #ffffff;
$black-color: #000000;
$font-size: 15px;
$transition: all ease .5s;
$border-radius: 10px;
$box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);

/*
Sidebar Menu Style
=====================================================*/
.sidebar-menu {
	.first-menu {
		position: fixed;
		background-color: transparent;
		height: 100%;
		width: 110px;
		top: 148px;
		overflow: auto;
		transition: width .5s;
		padding-bottom: 180px;
		left: 12px;
		z-index: 2;
		.list-group-item {
			border-radius: 0;
			font-size: 15px;
			&.main-grid {
				padding: 0 30px;
				margin-bottom: 30px;
				&:last-child {
					margin-bottom: 0;
				}
			}
			.icon {
				color: $white-color;
				box-shadow: $box-shadow;
				background-color: $white-color;
				width: 50px;
				height: 50px;
				line-height: 50px;
				border-radius: 20px;
				display: block;
				text-align: center;
				position: relative;
				z-index: 1;
				&::before {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					width: 50px;
					height: 50px;
					background-image: linear-gradient(to bottom, $secondary-color, $orange-color);
					z-index: -1;
					border-radius: 20px;
					transition: $transition;
					opacity: 0;
				}
		  	}
			&:hover {
				.icon {
					img {
						filter: brightness(100);
					}
					&::before {
						opacity: 1;
					}
				}
			}
			&.active {
				.icon {
					img {
						filter: brightness(100);
					}
					&::before {
						opacity: 1;
					}
				}
				.list-group-item {
					&.active {
						a {
							color: $main-color;
						}
					}
				}
			}
		}
		&:hover {
			width: 110px;
		}
		li {
			&:hover .submenu {
				visibility: visible;
				opacity: 1;
			}
		}
	}
	.submenu {
		position: fixed;
		left: 125px;
		width: 195px;
		top: 120px;
		background-color: $white-color;
		box-shadow: $box-shadow;
		height: 100%;
		opacity: 0;
		visibility: hidden;
		transition: $transition;
		overflow: auto;
		padding-top: 30px;
		padding-bottom: 160px;
		border-radius: 0;
		.list-group-item {
			margin-top: 8px;
			padding: 3px 20px;
			a {
				color: $heading-color;
				&.active {
					color: $main-color;
				}
			}
		}
		li {
			&:hover {
				.sub-submenu {
					visibility: visible;
					opacity: 1;
				}
			}
		}
	}
	.list-group-item {
		background-color: transparent;
		border: none;
		border-radius: 0;
	}
	.sub-submenu {
		position: fixed;
		background-color: #f9f9f9;
		left: 320px;
		top: 160px;
		height: 100%;
		width: 195px;
		opacity: 0;
		visibility: hidden;
		transition: $transition;
		overflow: auto;
		.list-group-item {
			a {
				color: $heading-color;
				&.active {
					color: $main-color;
				}
			}
			&:hover {
				background-color: transparent;
			}
		}
	}
	.arrow {
		position: fixed;
		left: 295px;
		width: 0; 
		height: 0; 
		border-top: 27px solid transparent;
		border-bottom: 27px solid transparent; 
		border-right: 27px solid #f9f9f9;
		top: 160px !important;
		&:nth-child(3) {top: 160px;}
	}
}

/*
Sidebar Menu Style Two Area
=====================================================*/
.side-menu-area {
    position: fixed;
    left: 0;
    top: 162px;
    height: 100%;
    width: 300px;
    z-index: 2;
    transition: $transition;
	.sidebar-nav {
		background-color: #F8FAFF;
		padding: 0;
		border-radius: $border-radius;
		overflow: auto;
		height: 100%;
		#sidebar-menu {
			padding-bottom: 185px;
		}
		.metismenu {
			list-style-type: none;
			padding: 0;
			margin: 0;
			.nav-item-title {
				color: #b2b5b9;
				font-size: 14px;
				font-weight: 600;
				margin-bottom: 5px;
			}
			a {
				display: block;
    			padding: 13px 15px;
			}
			ul {
				padding: 0;
				padding-top: 10px;
				padding-bottom: 10px;
				a {
					padding: 5px 30px;
				}
			}
			li {
				display: block;
				margin-bottom: 5px;
				margin-left: 20px;
				.box-style {
					padding: 15px 10px;
					border-radius: 50px 0 0 50px;
					display: block;
					.icon {
						color: $white-color;
						box-shadow: $box-shadow;
						background-color: $white-color;
						width: 50px;
						height: 50px;
						line-height: 50px;
						border-radius: 20px;
						display: inline-block;
						text-align: center;
						position: relative;
						z-index: 1;
						margin-right: 20px;
						&::before {
							content: "";
							position: absolute;
							top: 0;
							left: 0;
							width: 50px;
							height: 50px;
							background-image: linear-gradient(to bottom, $secondary-color, $orange-color);
							z-index: -1;
							border-radius: 20px;
							transition: $transition;
							opacity: 0;
						}
					}
					&:hover {
						color: $heading-color;
						background-color: $white-color;
						&::before {
							opacity: 1;
						}
					}
				}
				&:hover {
					.box-style {
						color: $heading-color;
						background-color: $white-color;
						padding: 15px 10px;
						.icon {
							color: $white-color;
							img {
								filter: brightness(100);
							}
							&::before {
								opacity: 1;
							}
						}
					}
					&:hover {
						color: $heading-color;
					}
				}
				&.mm-active {
					.box-style {
						color: $heading-color;
						background-color: $white-color;
						padding: 15px 10px;
						font-weight: 600;
						.icon {
							color: $white-color;
							img {
								filter: brightness(100);
							}
							&::before {
								opacity: 1;
							}
						}
					}
					.active {
						color: $main-color;
						position: relative;
						a {
							span {
								color: $main-color;
							}
						}
					}
				}
				.mm-collapse {
					li {	
						a {
							display: block;
							&:hover {
								color: $main-color;
							}
						}
					}
				}
				.has-arrow {
					font-size: 15px;
				}
				a {
					font-size: 14px;
					i {
						font-size: 20px;
						box-shadow: $box-shadow;
						background-color: $white-color;
						display: inline-block;
						width: 35px;
						height: 35px;
						line-height: 35px;
						text-align: center;
						position: relative;
						top: 4px;
						margin-right: 5px;
						border-radius: 5px;
						color: $heading-color;
					}
				}
			}
			.has-arrow {
				display: block;
				&::after {
					transform: rotate(-135deg) translate(0, -50%);
					right: 35px;
				}
				&[aria-expanded=true] {
					&::after {
						transform: rotate(46deg) translate(0, -50%) !important;
					}
				}
			}
		}
	}
	&.style-two {
		.sidebar-nav {
			border-radius: 0;
			.metismenu {
				li {
					&.mm-active {
						.box-style {
							position: relative;
							&::before {
								content: "";
								position: absolute;
								top: 0;
								right: 0;
								width: 5px;
								height: 100%;
								background-image: linear-gradient(to bottom, $secondary-color, $orange-color);
								border-radius: 8px;
							}
						}
					}
				}
			}
		}
	}
}

/* Max width 1199px */
@media only screen and (max-width:1199px) { 

	/* Sidebar Menu */
    .sidebar-menu {
        z-index: 9999;
        left: -100%;
        .first-menu {
            background-color: $white-color;
            padding-top: 20px;
            padding-bottom: 20px;
            box-shadow: $box-shadow;
			opacity: 0;
			visibility: hidden;
			transition: $transition;
			top: 88px !important;
    		border-radius: 10px !important;
			position: fixed;
			left: -100%;
			z-index: 999;
        }
		&.active-sidemenu-area {
			.first-menu {
				left: 12px;
				z-index: 999;
				transition: $transition;
				opacity: 1;
				visibility: visible;
			}
		}
		.submenu {
			top: 88px;
			padding-top: 0;
			border-radius: 10px;
			width: 183px;
		}
    }
    .side-menu-area {
		top: 88px;
        left: -100%;
		box-shadow: $box-shadow;
        .sidebar-nav {
            background-color: $white-color;
			.metismenu li .box-style {
				padding: 8px 10px;
			}
        }
        &.active-sidemenu-area {
            left: 0;
        }
    }
	

}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.side-menu-area {
		top: 110px;
	}
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.side-menu-area {
		top: 110px;
	}
}

/* Min width 768px to Max width 1199px */
@media only screen and (min-width: 768px) and (max-width: 1199px) {

	.header-content-wrapper {
		padding: 20px 20px;
	}
	.sidebar-menu {
		.first-menu {
		    top: 105px !important;
    		border-radius: 20px !important;
		}
	}
	.sidebar-menu {
		.submenu {
			top: 105px;
			padding-top: 0;
			border-radius: 20px;
		}
	}

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
	.side-menu-area {
		width: 250px;
		top: 148px;
		.sidebar-nav {
			.metismenu {
				li {
					.has-arrow {
						font-size: 13px;
					}
					.box-style .icon {
						margin-right: 10px;
					}
				}
				.has-arrow {
					&::after {
						right: 20px;
					}
				}
			}
		}
	}
}